
:root {
  background-color: #000;
  background: #000;
}

.hd-image {
  justify-content: center;
  align-items: center;
  display: flex;
}

  
@import "./process.css";
@import "./next.css";
@import "./theme.css";